api = "0.12"

[buildpack]
id = "io.github.aagumin.mlflow-model"
version = "{{VERSION}}"
name = "MLflow Model Buildpack"
homepage = "https://github.com/aagumin/mlflowpack"
description = "Buildpack for MLflow models with MLServer runtime"
sbom-formats = ["application/vnd.cyclonedx+json"]

# Modern targets approach (replaces deprecated stacks)
[[targets]]
os = "linux"
arch = "amd64"

[[targets]]
os = "linux"
arch = "arm64"

[metadata]
include-files = ["bin/detect", "bin/build", "bin/linux/amd64", "bin/linux/arm64"]
